<%= form_with(model: @questions, local: true) do |form| %>

<form class="form-horizontal">
  <div class="form-group">
  <div class="field col-sm-10">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>
</div>

  <div class="form-group">
    <div class="field col-sm-10"rows="3">
    <%= form.label :field %>
    <%= form.text_field :field %>
  </div>
</div>

  <div class="form-group">
  <div class="actions col-sm-offset-2 col-sm-10" >
    <%= form.submit %>
    <%= link_to 'Back', questions_path %>
  </div>
  </div>
<% end %>
</form>
