<%= form_for @question do |form| %>

<form class="form-horizontal">
  <div class="form-group">
  <div class="field col-md-6">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>
</div>

  <div class="form-group">
    <div class="field col-md-6"rows="3">
    <%= form.label :field %>
    <%= form.text_area :field %>
  </div>
</div>

  <div class="form-group">
  <div class="actions col-sm-offset-2 col-sm-10" >
    <%= form.submit :class => "btn btn-default" %>
    <%= link_to 'Back', questions_path, :class => "btn btn-default" %>
  </div>
  </div>
<% end %>
</form>
