<div class="container">
  <div class="jumbotron bg-dark">
  <h1>Fake Stack</h1>
  </div>
  <div class="table-responsive">
<table class="table table-striped table-hover">
  <div class="row">
  <thead>
    <tr>
      <div class= "col-md-6">
      <th>Question Subject Line</th>
      </div>
      <div class= "col-md-6">
      <th>Question Field</th>
      </div>
      <div class=" col-mid-6 col-md-offset-6"><%= link_to 'New Question', new_question_path, :class => "btn btn-primary" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %></div>
    </tr>
  </thead>
</div>
  <div class ="row">
  <tbody>
    <% @question.each do |question| %>
      <tr>
        <td><%= question.subject %></td>
        <td><%= markdown(question.field) %></td>
        <td><%= link_to 'Show', question_path(question), :class => "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_question_path(question),  :class => "btn btn-success" %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' },  :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
</table>
<%= paginate @question %>
</div>
</div>
